body{
  background:linear-gradient(to top, rgb(92, 8, 92), white);
  margin:0;
  padding:0;
  box-sizing:border-box;
  align-content:center;
  color:rgb(233, 57, 57);
}

.container{
  display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
    width:100%;
}
  .form-box{
      width:380px;
      height:450px;
      background-color:black;
      padding:20px;
      display:flex;
      flex-direction:column;
      justify-content:flex-start;
      opacity:0.8;
      border-radius:2%;
  }
  .Product-box{
    background:linear-gradient(to top, rgb(8, 12, 211), white);
    display:flex;
    
    width:800px;
    height:450px;
    padding:20px;
    opacity:0.8;
    border-radius:2%;
    box-sizing:border-box; 
  }
.container1{
  display:flex;
    align-items:center;
    justify-content:center;
    height:50vh;
    width:100%;
}
button{
  width:130px;
  height: 80px;
  margin-top:50px;
  margin-left: 130px;
}
.input-style{
  width:250px ;
  height:50px ;
  margin-top:30px ;
  margin-left:60px ;
}
.button-disply{
  
  height:40px;
  width: 150px;
  border:2px;
  background-color:rgb(77, 149, 231);
  margin-right:120px ;
  margin-top:200px ;
 
  
}